name: Generate Snake

on:
  # Запускать автоматически каждые 24 часа
  schedule:
    - cron: "0 */24 * * *" 
  
  # Позволяет запустить вручную кнопку
  workflow_dispatch:
  
  # Запускать при пуше в ветку main или master
  push:
    branches:
    - master
    - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      
      - uses: Platane/snk@v3
        with:
          # ВАЖНО: замени YOUR_USERNAME на свой ник!
          github_user_name: viktoralyoshin
          outputs: |
            dist/github-contribution-grid-snake.svg
            dist/github-contribution-grid-snake-dark.svg?palette=github-dark

      - uses: crazy-max/ghaction-github-pages@v2.1.3
        with:
          target_branch: output
          build_dir: dist
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
